{% extends "::frontoffice.html.twig" %}
{% block navigation %}
     <div id="global_page">
    <header>

        <div class="header clearfix">
            <div class="container">
                <div class="row">
                    <div class="topbar">
                        <div class="col-lg-4">
                            <div class="logo pull-left">
                                <a href="" title="HR Easy Blog"><img src="http://www.theatre-contemporain.net/images/menu/logo/logo_theatre-280x40-white.png" alt="HR Easy Blog" id="logo" data-pin-nopin="true"></a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="pull-right top-ads hidden-xs"><img src="http://www.themevina.com/images/468x60.jpg" alt="" data-pin-nopin="true"></div>		</div>
                    </div>


                </div>
            </div>
        </div>

    </header>
         
        </div>
{% endblock %}
{% block body %}
    {% block contenu %}
    {% endblock %}
    <footer>
        <div class="container"  id="footer">
            <div class="row">
                <div class="col-md-3 col-sm-6">

                    <ul class="menufooter">
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">

                    <ul class="menufooter">
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">

                    <ul class="menufooter">
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">

                    <ul class="menufooter">
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                        <li><a href="#">رابط واحد</a></li>
                    </ul>
                </div>
            </div>
        </div>  
        <!-- FOOTER_LINK} -->
    </footer>
{% endblock %}